h1{
    background: black;
    color: white;
}
h2{
    background: purple;
    color: white;
    font-style: italic;
    text-align: center;
}
h1[span]{
    color: blue;
}
h3{
    background: lightblue;
    font-style: initial;
    text-align: right;
}